* text=auto !eol
/Changes_EN.txt -text
/README_EN.txt -text
bin/FindProcDLL.dll -text
bin/FindProcDLL_Readme.txt -text
bin/IpConfig.dll -text
bin/IpConfig_Readme.txt -text
bin/Locate_Readme.txt -text
bin/LogEx.dll -text
bin/LogEx_Readme.txt -text
bin/NSISpcre.dll -text
bin/NSISpcre_License.txt -text
bin/NSISpcre_Readme.txt -text
bin/NotifyIcon.dll -text
bin/NotifyIcon_Readme.txt -text
bin/Registry_Readme.txt -text
bin/ShellLink.dll -text
bin/ShellLink_Readme.html -text
bin/SimpleFC.dll -text
bin/SimpleFC_License.txt -text
bin/SimpleFC_Readme.txt -text
bin/SimpleSC.dll -text
bin/SimpleSC_License.txt -text
bin/SimpleSC_Readme.txt -text
bin/StdUtils.dll -text
bin/StdUtils_Docs.html -text
bin/UAC.dll -text
bin/UAC_History.txt -text
bin/UAC_License.txt -text
bin/UserMgr.dll -text
bin/UserMgr_Readme.html -text
bin/WndSubclass.dll -text
bin/WndSubclass_History.txt -text
bin/dumpstate.dll -text
bin/dumpstate_readme.txt -text
bin/liteFirewall.dll -text
bin/liteFirewall_License.txt -text
bin/liteFirewall_Readme.txt -text
bin/locate.dll -text
bin/nsResize.dll -text
bin/nsResize_Readme.txt -text
bin/nsisFile.dll -text
bin/registry.dll -text
bin/stack.dll -text
bin/stack_readme.txt -text
/license.txt -text
src/3dparty/CommCtrl.nsh -text
src/3dparty/CommCtrl.txt -text
src/3dparty/Locate.nsh -text
src/3dparty/NSISpcre.nsh -text
src/3dparty/Registry.nsh -text
src/3dparty/Registry.txt -text
src/3dparty/Stack.nsh -text
src/3dparty/StdUtils.nsh -text
src/3dparty/UAC.nsh -text
src/3dparty/UserMgr.nsi -text
src/3dparty/WndSubclass.nsh -text
src/3dparty/WndSubclass.txt -text
src/basic_install_tmpl1.nsi -text
src/basic_lang.nsi -text
src/basic_lang_en.nsi -text
src/basic_lang_ru.nsi -text
src/builtin.nsi -text
src/debug.nsi -text
src/gui.nsi -text
src/guiext.nsi -text
src/guinet.nsi -text
src/guinet/logon.nsi -text
src/guinet/ping.nsi -text
src/init.nsi -text
src/killproc.nsi -text
src/killproc_lang.nsi -text
src/killproc_lang_en.nsi -text
src/killproc_lang_ru.nsi -text
src/net.nsi -text
src/notify.nsi -text
src/ppcmd.nsi -text
src/ppcmd_lang.nsi -text
src/ppcmd_lang_en.nsi -text
src/ppcmd_lang_ru.nsi -text
src/preprocessor.nsi -text
src/product_version.nsi -text
src/res.nsi -text
src/sections.nsi -text
src/stack.nsi -text
src/uninit.nsi -text
src/utils.nsi -text
src/win32.nsi -text
src/win32util.nsi -text
src/winbase.nsi -text
src/winctrl.nsi -text
src/wingdi.nsi -text
src/winuser.nsi -text
tests/_testlib/common.nsi -text
tests/_testlib/config.nsi -text
tests/build.impl.bat -text
tests/configure.bat -text
tests/test_RegAddRemovePathGUI/build.bat -text
tests/test_RegAddRemovePathGUI/main.nsi -text
tests/test_RegAddRemovePathGUI/test.bin -text
tools/7zip/7-zip.chm -text
tools/7zip/7z.exe -text
tools/7zip/7za.dll -text
tools/7zip/7za.exe -text
tools/7zip/7zxa.dll -text
tools/7zip/history.txt -text
tools/7zip/license.txt -text
tools/7zip/readme.txt -text
tools/uuidgen.exe -text
